<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/first.css" />
    <title>webpack5-package</title>
  </head>
  <body>
    <div class="wrapper">
      <h1 class="title">webpack5-package (by Muvbed)</h1>
      <a href="/second.html" class="link">to second page</a>
      <div class="bg"></div>
      <div id="first-app"></div>
    </div>
    <script src="js/first.js"></script>
  </body>
</html>
